.photo-grid {
  margin: 0 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin: 0 24px 0;
    gap: 16px;
  }
}

@media (max-width: 510px) {
  .photo-grid {
    margin: 0 16px 0;
    gap: 12px;
  }
}
