.page__section-distance {
  margin-bottom: 92px;
}

@media (max-width: 768px) {
  .page__section-distance {
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .page__section-distance {
    margin-bottom: 64px;
  }
}
