.place {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(288px, 1fr));
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 3.3%;
  grid-row-gap: 48px;
}

@media (max-width: 1024px) {
  .place {
    margin: 0 48px 0;
  }
}

@media (max-width: 768px) {
  .place {
    margin: 0 24px 0;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}

@media (max-width: 510px) {
  .place {
    margin: 0;
    grid-row-gap: 32px;
  }
}
